<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - B3rry Client</title>
    <style>
        * {
            font-family: sans-serif;
            color: #bc1142ff;
        }
        h1 {
            text-align: center;
            font-size: 10vmin;
        }
        p {
            text-align: center;
            font-size: 6vmin;
            margin: 2vmin;
        }
        #logo {
            height: 30vmin;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10vmin;
        }
    </style>
</head>
<body>
    <img src="../static/rspysad.png" id="logo">
    <h1>Uh, Oh...</h1> 
    <br>
    <p>{{ msg }}</p> 
</body>
</html>